<div>
  <div>
    <app-header></app-header>
  </div>
  <div>
    <div>
      <mat-drawer-container class="example-container">
        <mat-drawer
          class="w-150 menu"
          mode="side"
          [opened]="this.menuServiceProvider.isMenuOpen$ | async"
        >
          <div class="d-flex gap-5 d-flex-dir-col">
            <div
              *ngFor="let service of menuServiceProvider.services$ | async"
              class="{{
                service.name == (menuServiceProvider.currentMenu$ | async)?.name
                  ? 'list-val list-val-selected d-flex ai-center gap-5'
                  : 'list-val d-flex ai-center gap-5'
              }}"
              (click)="redirectToMenu(service)"
            >
              <span
                class="bullet-point"
                *ngIf="
                  service.name ==
                  (menuServiceProvider.currentMenu$ | async)?.name
                "
              ></span>
              {{ service.name }}
            </div>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div>
            <router-outlet></router-outlet>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
