<div *ngIf="!isLoading">
  <h2 mat-dialog-title>Assign Form</h2>
  <mat-dialog-content>
    <p>
      Please select form you want to assign <b>{{ data.displayName }}</b> with.
    </p>
    <div *ngIf="listOfForms.length">
      <form [formGroup]="assignServiceForm">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="serviceName">
            <mat-option *ngFor="let form of listOfForms" [value]="form">
              {{ form.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="!listOfServices.length">No service found</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-flat-button
      color="primary"
      [disabled]="assignServiceForm.invalid"
      (click)="saveAssignService()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
<div *ngIf="isLoading">Loading...</div>
